<h2>Записаться</h2>
<p>на этой странице Вы сможете записаться на прием</p>

<form action="/visit" method="POST">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>